.App {
  text-align: top;
}


.logo-fuusiolabs {  
  height: 8vmin;
}

.App-header {
  background-color: #010042;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.fussiolabs-logo{
  height: 5vmin;
}

